input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;
  }
  
  .center {
    margin: auto;
    width: 50%;
    border: 3px black;
    padding: 10px;
  }

  #button {
    background-color: green;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  #button:hover {opacity: 1}

  .center{
      align-items: center;
  }