<div class=image style="padding: 20px;" >
  <h1 style="color: blue; text-align: center ;font-family: Raleway, sans-serif">{{title}}</h1>

  
  <nav style="text-align: center;">

    <a  routerLink="view" class="btn btn-primary active" role="button" routerLinkActive="active">View Students</a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add Student</a>
    <a routerLink="search" class="btn btn-primary active" role="button" routerLinkActive="active">Search Student</a>
    
    <a routerLink="marks" class="btn btn-primary active" role="button" routerLinkActive="active">Set Marks</a>
    
    <a routerLink="view-marks" class="btn btn-primary active" role="button" routerLinkActive="active">View Marks</a>
  </nav>
  <router-outlet></router-outlet>
</div>